*{
    margin: 0;
    padding-top: 2px; 
    font-family: "Montserrat";
    line-height: 1.5;
}

.nav-bar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000; 
}
.nav-bar-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 100%;
}
.nav-bar-logo {
    display: flex; 
    width: 180px; 
    height: 80%;
    margin-left: 14px;
    overflow: hidden; 
}
.nav-logo {
    padding: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
}
.nav-bar-menu {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    width: auto;
}
.nav-bar-menu-list {
    display: flex;
    list-style: none;
    padding: 8px;
    margin-right: 40px;
}
.nav-bar-menu-button button {
    display: flex;
    height: 48px;
    width: 230px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 16px;
    border: 2px solid #fff;
    background-color: #008647;
    color: #F8E7CF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.header-container {
    display: flex;
    overflow: hidden;
    margin-top: 8%;
}
.header-content{
    width: 100%;
    height: 100%;
    background-image: url("/source/images/header.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 44vw;
}
.about-container {
    display: flex;
    justify-content:start;
    align-items: start;
    margin-top: 24px;
    overflow: hidden;

}
.about-content {
    display: flex;
    justify-content:start;
    align-items: start;
}
.about-text {
    color: #441534;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 24px;
}
.about-text p{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 400;
}

.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.cards-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    display: grid;
    justify-content: center;
    text-align: center;
    border: white solid 2px;
    margin: 24px;
    padding: 24px;
    height: 280px;
    width: 280px;

    transition: ease-in-out 0.5s;
}
.card:hover{
    transform: translateY(-20px);
}
.card p{
    font-size: 18px;
    font-weight: 400;
}

.card-1{
    color: #441534;
    background-color: #F8E7CF;
}

.card-2{
    color: #441534;
    background-color: #97C93D;
}

.card-3{
    color: #441534;
    background-color: #F99C1E;
}

.card-4{
    color: #441534;
    background-color: #F0524C;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.button-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    animation: pulsate 1.5s infinite ease-in-out;
}

@keyframes pulsate {
    0% {
        transform: scale(1); /* Começa no tamanho normal */
    }
    50% {
        transform: scale(1.1); /* Aumenta o tamanho para 110% */
    }
    100% {
        transform: scale(1); /* Retorna ao tamanho normal */
    }
}

.button-content button{
    display: flex;
    height: 48px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 32px;
    border: 2px solid #008647;
    background-color: #008647;
    color: #F8E7CF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.open-call-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
    width: 100%;
    overflow: hidden;
    background-color: #008748;
}
.open-call-content-left{
    color: #F8E7CF;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 24px;
    padding: 24px;
}
.open-call-content-left p{
    font-size: 24px;
}
.open-call-content-right img{
    display: flex;
    margin: 24px;
    padding: 24px;    
    width: 90%;
    max-width: 100%;
    height: auto;
}
.for-who-container{
    display: flex;
    justify-content: start;
    background-color: #441534;
    overflow: hidden;
}
.for-who-content{
    Color: #F8E7CF;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 24px;
    padding: 24px;

}
.for-who-content p{
        font-size: 24px;
}
.for-who-content h1{
        text-align: center;
}
.how-to-container{
    display: flex;
    flex-direction: column;
    color: #441534;
    overflow: hidden;

}
.how-to-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 24px;
    padding: 24px;
}
.how-to-content h1{
    margin-bottom: 24px;
}
.how-to-content p{
    font-size: 24px;
}
.about-simbi-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #441534;
    width: 100%;
    background-color: #F8E7CF;
    overflow: hidden;
}
.about-simbi-content-left{
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 24px;
}
.about-simbi-content-left p{
    font-size: 24px;
}
.about-simbi-content-right img{
    display: block;
    margin: 24px;
    width: 800px;
    height: 100%;

}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #441534;
    overflow: hidden;

    
}
.footer-content{
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 24px;
    padding: 24px;
}
.footer-image{
    display: block;
    margin: 0 auto;
    width: 80px;
}

/* Media Queries */

@media only screen and (max-width: 1270px) {
    .nav-bar-container{
        height: 100px;
    }
    .nav-logo{
        height: 100px;
    }
    .nav-bar-menu-list{
        padding: 0;
}

.header-container{
    background-size: cover; 
}

.open-call-container{
    flex-direction: column;
    height: 100%;
    background-color: #008748;
}


.about-simbi-container{
    flex-direction: column;
    height: 100%;
    background-color: #F8E7CF;
}

.about-simbi-content-right img{
    width: 500px;
}
}

@media only screen and (max-width: 434px) {
    .nav-bar-container{
        height: 90px;
    }
    .nav-logo{
        height: 80px;
    }
    .nav-bar-content{
        padding: 0;
    }
    .nav-bar-menu-list{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .nav-bar-menu-button button{
        width: 120px;
        height: 50px;
    }
    .header-container{
        background-size: cover; 
        margin-top: 20%;
    }
    .open-call-container{
        flex-direction: column;
        height: 100%;
        background-color: #008748;
    }

    .open-call-content-right img{
        width: 80%;
    }

    .for-who-container{
        flex-direction: column;
        height: 100%;
        background-color: #441534;
    }

    .how-to-container{
        flex-direction: column;
        height: 100%;
        background-color: #F8E7CF;
    }
    .about-simbi-container{
        flex-direction: column;
        height: 100%;
        background-color: white;
    }
    .about-simbi-content-right img{
        width: 90%;
    }
}
